<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Josh Pye, certified personal trainer with 13 years of experience, offers personalized fitness programs for health, strength, and mental well-being.">
  <meta name="keywords" content="personal trainer, fitness, health, strength training, injury rehab, P.T Nelson NZ, JP's Fitness, JPPT">
  <meta name="author" content="Josh Pye">
  <title>Josh Pye - Personal Trainer | Home</title>
  <link rel="stylesheet" href="home.css">
</head>
<body>
  <header>
    <nav class="navbar">
      <div class="logo">JP's Fitness</div>
      <ul class="nav-links">
      
<li><a href="../home/home.html" class="active">Home</a></li>
<li><a href="../about-me/about-me.html">About Me</a></li>
<li><a href="../skills/skills.html">Skills & Services</a></li>
<li><a href="../clients/clients.html">Client Transformations</a></li>
<li><a href="../contact/contact.html">Contact</a></li>
      </ul>
    </nav>
  </header>

  <main>
   <section class="hero">
  <div class="hero-container">  
    <div class="hero-text">
      <h1>Welcome to JP's Fitness</h1>
      <p>Transform your life with personalised training that builds strength, confidence, and well-being. With 13+ years of experience, I can create bespoke training programs for beginners to advanced athletes with a focus on individual goals.</p>
      <a href="../contact/contact.html" class="cta-button">Start Your Journey</a>
    </div>

    <div class="hero-image">
      <img src="../assets/images/home-me.jpg" alt="Josh Pye - Certified Personal Trainer">
    </div>
  </div>
</section>
  </main>

  <footer>
    <p>&copy; 2025 JP's Fitness.</p>
  </footer>

<script type="module" src="../assets/firebase-init.js"></script>


</body>
</html>
